# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
healthvenv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Model cache
*.joblib