# Ignore raw datasets
data/raw/

# Ignore databases (optional)
*.db

# Ignore virtual environments
healthvenv/
venv/

# Python
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db